@model List<com.Entities.Category>
@{
    ViewBag.Title = "CreateOrUpdate";
    Layout = null;
}
@using (Html.BeginForm("CreateOrUpdate", "Product", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
 {

    <div class="form-group">
        <label for="Name" class="control-label">Name</label>
        <input type="text" name="Name" placeholder="Product Name" class="form-control" />
    </div>


    <div class="form-group">
        <label for="Price" class="control-label">Price</label>

        <input type="text" name="Price" placeholder="Product Price" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description" class="control-label">Description</label>
        <textarea rows="3" class="form-control" placeholder="Product Description" name="Description"></textarea>

    </div>
    
    <select class="form-control" name="Category_ID">
         <option value="SelectCategory">SelectCategory</option>
             @foreach (var item in Model)
              {
                 <option value="@item.ID">@item.Name</option>
              }
    </select>
    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
 }



