@model List<com.Entities.Category>
@{
    ViewBag.Title = "CreateOrUpdate";
 }
<div class="row">
    @using (Html.BeginForm("CreateOrUpdate", "Product", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
    <div class="col-md-6">

        <div class="form-group">
            <label for="Name" class="control-label">Name</label>
            <input type="text" name="Name" placeholder="Product Name" class="form-control" />
        </div>
        @* InputGroup Addon
        <div class="input-group">
            <div class="input-group-addon"> <span class=" input-group-text">$</span> </div>
        </div>
         End InputGroup Addon *@
        <div class="form-group">
            <label for="Name" class="control-label">Name</label>
            <input type="text" name="Price" placeholder="Product Price" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Description" class="control-label">Description</label>
            <textarea rows="3" class="form-control" placeholder="Product Description" name="Description"></textarea>
        </div>

        <select class="form-control" name="Category_ID">
            <option value="SelectCategory">SelectCategory</option>
            @foreach (var item in Model)
             {
                <option value="@item.ID">@item.Name</option>
             }
        </select>
        <br />
        <div class="form-group">
            <input type="file" id="imageUpload" class="form-control" name="Image" accept=".png, .jpg" />
            <input name="imageUrl" id="imageUrl" type="hidden" />
        </div>

        <div class="checkbox">
            <label class="text-muted">
                @*<input name="isFeatured" type="radio" /> True
                <input name="isFeatured" type="radio" /> False*@
                <input type="checkbox" name="isFeatured" class="checkbox" /> Is Featured ?
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

        <div class="col-md-6" style="margin-left:-200px;">
            <div class="card">
                <img id="categoryImage" width="400" height="300" src="~/Content/images/noOne.png" class=" img-fluid " />
            </div>
        </div>
    }
</div>
@section Scripts{
    <script type="text/javascript">
        $('document').ready(function () {
        });
    </script>
}
