@model List<com.Entities.Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form method="post">
    <input type="text" name="Name" placeholder="Product Name" class="form-control" />
    <input type="text" name="Description" placeholder="Product Description" class="form-control" />
    <input type="text" name="Price" placeholder="Product Price" class="form-control" />
    <select class="form-control" name="Category_ID">
        <option value="SelectCategory">SelectCategory</option>
        @foreach (var item in Model)
         {
            <option value="@item.ID">@item.Name</option>
         }
    </select>
    <button type="submit"  class="btn btn-success glyphicon glyphicon-floppy-disk" ></button>
</form>