
@{
    ViewBag.Title = "New";
}

<div class="row" style="margin:10px;">

    @using (Html.BeginForm("CreateOrUpdate", "Category", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {

        <div class="col-md-6" style="margin:0">

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Product Name" name="Name" />

            </div>

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Description" name="Description" />
            </div>

            <div class="form-group">
                <input class="form-control" type="number" placeholder="Price" name="price" />
            </div>

            <div class="checkbox">
                <label class="text-muted">
                    <input type="checkbox" name="isFeatured" class="checkbox" /> Is Featured ?
                </label>
            </div>

            <div class="form-group">
                <input type="file" id="imageUpload" class="form-control" name="Image" accept=".png, .jpg" />
                <input name="imageUrl" id="imageUrl" type="hidden" />
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-6" style="margin-left:-200px;">
            <div class="card">
                    <img id="categoryImage" width="400" height="300" src="~/Content/images/noOne.png" class=" img-fluid " />
            </div>
        </div>

    }
</div>
@section Scripts{
    <script type="text/javascript">
        $('document').ready(function () {

            $("#imageUpload").on('change', function () {
                var element = this;
                var formData = new FormData();
                var totalFiles = element.files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = element.files[i];
                    formData.append("Photo", file)
                }
                $.ajax({
                    type: 'POST',
                    url: '/Shared/UploadImage',
                    dataType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false
                }).done(function (response) {
                    if (response.Success) {
                        $("#categoryImage").attr("src", response.ImageURL);
                        $("#categoryImage").width(400);
                        $("#categoryImage").height(300);
                        $("#imageUrl").val(response.ImageURL);
                    }
                    console.log(response);
                }).fail(function (XMLHttpRequest, textStatus, errorThrown) { alert('Fail') });
            });
        });
    </script>
}